body{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background: #FCF5C7;
}
#container{
    width: 400px;
    height: 400px;
    border: 10px solid #FFEE93;
    background-color: #FCF5C7;


    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
#container div{
    width: 45.5px;
    height: 45.5px;
    
    border: 1px dashed whitesmoke;
    margin: 0;
    padding: 0;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked{
    background-color: #FFEE93;
}

.cell{
    color: #ADF7B6;
}
#flag-button {
    width: 80px;
    height: 85px;
    background-color: #ADF7B6;
    border-radius: 10px;
    border: none;
}
#flag-button:hover {
    background-color: #8AE17E; /* Cambia il colore al passaggio del mouse */
    /* Altri stili per lo stato hover */
}

#flag-button:active {
    background-color: #5CBB64; /* Cambia il colore quando il bottone è cliccato */
    /* Altri stili per lo stato cliccato */
}
.cell.flag {
    background-image: url('resources/flag.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}
